<div id="carouselExample" class="carousel slide posts">
  <div class="carousel-inner">
    
{{!-- active class --}}
{{#if post}}
      
      <div class="carousel-item {{#if post.index}}active{{/if}} p-3" style="display:block">
      
      <div class="d-block" >
      <div class="p-2 info w-100 mb-2">
      <div><span>Caption: </span>{{post.caption}}</div>
      
      <div><span>Description: </span>{{post.description}}</div>
      {{#if showUsername}}<div><span>Username: </span>{{post.userid.username}}</div>{{/if}}
      </div>
      <div class="carousel-img "><img src={{post.imgurl}} alt="image of carousel"></div>
      </div>
      </div>
      </div>
      </div>
      {{#if show}}
      {{>feedback post=post}}
      {{else}}
      {{>onlydisplay}}
      {{/if}}
      <div class="displayComments {{#if comments}}p-2 mt-3 d-flex flex-column{{/if}}">
   {{#if comments}}   
      
        {{#each comments as |comment|}}
        <div class="commentInd p-1 mb-2">
        <div>{{comment.comment}}</div>
        <div style="font-weight:500;">{{comment.userid.username}}</div>
        </div>
        {{/each}}
   {{/if}} 
   </div>
{{else}}  
<div class="carousel-item active p-3" style="display:block">
      <div class="d-block ">
      <div class="p-2 info w-100 mb-2">
      <div class="noposts"><span>No Posts available!</span></div>
      </div>
      <div class="carousel-img"><img src='https://res.cloudinary.com/ddnofir7e/image/upload/v1693377493/cloudinary-image-nopost_iooewa.jpg' alt="image of carousel"></div>
      </div>
      </div>
        </div>
</div>
{{/if}}
    
